.DS_Store
Thumbs.db

.idea/
.vscode/*
!.vscode/easycode.ignore

*.log
*.sql
*.sqlite
*.tmp
*.swp
*.swo

/wp-content/cache/
/wp-content/upgrade/
/wp-content/backup*/
/wp-content/uploads/

/node_modules/
/vendor/
